<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">
        Contact
        </section>
        <section class="col">
        Actual
        </section>
        <section class="col">
        Service
        </section>
        <section class="col">
        Information
        </section>
    </div>
</footer>