.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(171, 216, 229);
    color: white;
    text-align: center;
  }
  .container2 {
    max-width: 1110px;
    margin: auto;
    background-color: rgb(213, 229, 236);
  }
  .navbar-nav{
    justify-content: center;
 }
 .clientcourses {
    max-width: 1110px;
    margin: auto;
    background-color: rgb(213, 229, 236);
    height: 1700px;

 }
 